.label{
  font-weight: 700;
  font-size: 16px;
  margin-right: 10px;
}
.form{
  display: flex;
  align-items: center;
}
.textField{
  background: transparent;
  border: 2px solid rgb(153, 153, 153);
  padding: 10px;
  border-radius: 10px;
  width: 70px;
  line-height: 1;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
  transition: 0.3s ease-in;
}
.error{
  border: 2px solid #ff554e;;
}
.option{
  > svg{
    width: 32px;
  }
  &:hover{
    background: #ff554e;
  }
}
.icon{
  position: absolute;
}
.select{
  border: 2px solid rgb(153, 153, 153);
  width: '200px';
  display: inline-block;
}