.label{
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
  color:#050f28;
}
.form{
  display: flex;
  align-items: center;
}
.textField{
  background: transparent;
  border: 2px solid rgb(153, 153, 153);
  padding: 10px;
  border-radius: 10px;
  width: 70px;
  line-height: 1;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  transition: 0.3s ease-in;
  &:hover{
    border: 2px solid rgb(112, 112, 112);
  }
}
.error{
  border: 2px solid #ff554e !important;
}
.option{
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.icon{
  position: absolute;
}
.button{
  width: 43px;
  height: 43px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background: rgb(112, 112, 112);
  align-items: center;
  box-shadow: 0px 3px 5px 4px #eeeff1;  
  >svg{
    width: 26px;
    height: 26px;
    fill: white;

  }

}
@media (min-width: 320px){
  .option{
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px){
  .option{
    width: 100%;
    justify-content: right;
  }
}